<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:sodam.store</string>
		<string>applinks:1.sodam.store</string>
		<string>applinks:2.sodam.store</string>
		<string>applinks:3.sodam.store</string>
		<string>applinks:4.sodam.store</string>
		<string>applinks:5.sodam.store</string>
	</array>
</dict>
</plist>
